//Variables
$black-color: #272a31;
$orange-color: #ec5242;
$grey-color: #d3d3d3;

html,
body {
  font-family: cococogoose, Lato;
}

.menu-icon {
  color: #272a31;
  i {
    color: #272a31;
  }
}

.heading {
  color: #ec5242;
  h1 {
    font-weight: bold;
    text-transform: uppercase;
  }
}
.article__1 {
  color: #272a31;
}
.schedule {
  color: #272a31;
  h2 {
    font-weight: bold;
  }
}
.main__program {
  background: url(/images/main-program-bg.png) repeat-y;
  color: #d3d3d3;
  h2 {
    border-bottom: 3px solid #ec5242;
  }
  h3 {
    color: #ec5242;
  }

  div {
    background-color: #d4d4d462;
  }

  input {
    color: #d3d3d3;
    background-color: #ec5242;
    margin: auto;
    border: none;
  }
}

#main__program-content {
  background: none;
}

.featured__artists {
    h2{
        border-bottom: 3px solid #ec5242;
    }
    img{
        min-width: 5rem;
        min-height: 5rem;
    }
}