@media (min-width: 990px) {
  .sub__bar {
    margin: auto 5rem;
  }

  a {
    padding-right: 1rem;
  }

  .about__event {
    a {
      width: 50%;
    }
  }

  .about__logo {
    img {
      width: 50%;
    }
  }

  .event-2020 {
    width: 100%;
  }

  .event-2019 {
    width: 100%;
  }
}
