//Variables
$black-color: #272a31;
$orange-color: #ec5242;
$grey-color: #d3d3d3;

html,
body {
  font-family: cocogoose, Lato;
}

.menu-icon {
  color: #272a31;
  overflow: hidden;
  position: relative;
  i {
    color: #272a31;
  }
  #links {
     display: none;
  }
  a{
    .icon{
      display: block;
      position: absolute;
      top: 0;
      left: 0;      
    }
    color: $grey-color;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

    &:hover{
      background-color: $grey-color;
      color: $black-color;
    }
  }
  .active {
    background-color: $orange-color;
    color: $grey-color;
  }
}

.heading {
  color: #ec5242;
  h1 {
      font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;

  }
}
.article__1 {
  color: #272a31;
}
.schedule {
  color: #272a31;
  h2 {
    font-weight: bold;
  }
}
.main__program {
  background: url(/images/main-program-bg.png) repeat-y  ;
  color: #d3d3d3;
  margin: auto;
  width: 100%;
  h2 {
    border-bottom: 3px solid #ec5242;
  }
  h3 {
    color: #ec5242;
  }

  div {
    background-color: #d4d4d423;
  }

  input {
    color: #d3d3d3;
    background-color: #ec5242;
    border: none;
  }
}

#main__program-content {
  background: none;
}

.featured__artists {
    button{
        width: 100%;
        border-color: #d3d3d3;
    }
    h2{
        border-bottom: 3px solid #ec5242;
    }
    h4{
        font-size: larger;
        font-weight: bold;
    }
    h5 {        
        color: #ec5242;
        font-size: small;
        font-style: italic;
    }
    h6{
        font-size: smaller;
    }
    img{
        max-width: 7rem;
        // min-height: 3rem;
    }
    .img-1 {
        position: relative;
        z-index: 0;
        max-width: 4rem;
    }
    .img-2{
        position: relative;
        top: -2rem;
        left: 1rem;
        z-index: 1;
    }
    .down-arrow {
        color: #ec5242;
    }
}