/* stylelint-disable indentation */

//Variables
$black-color: #272a31;
$orange-color: #ec5242;
$grey-color: #d3d3d3;

@import "small-screen";
@import "main";
@import "about";
@import "get-ticket";
@import "desktop";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
